[submodule "core/lib/forge-std"]
	path = core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "core/lib/erc4626"]
	path = core/lib/erc4626
	url = https://github.com/thesis/erc4626
