[submodule "core/lib/forge-std"]
	path = core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "core/lib/erc4626"]
	path = core/lib/erc4626
	url = https://github.com/thesis/erc4626
[submodule "core/lib/solmate"]
	path = core/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "core/lib/ds-test"]
	path = core/lib/ds-test
	url = https://github.com/dapphub/ds-test
