{
  "root": true,
  "extends": ["@thesis-co"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    // Regarding the fact that we are using Chakra UI lib let's disable this rule.
    // This will allow us to easily pass props from the parent component.
    "react/jsx-props-no-spreading": "off",
    // TypeScript allows us to declare props that are non-optional internally
    // but are interpreted as optional externally if they have defaultProps
    // defined; the following two adjustments disable eslint-plugin-react
    // checks that predate this ability for TS and that no longer apply.
    "react/default-props-match-prop-types": [
      2,
      { "allowRequiredDefaults": true }
    ],
    "react/require-default-props": [0],
    // Regarding the fact we are using now: @thesis-co/eslint-config": "github:thesis/eslint-config#7b9bc8c"
    // Promise-returning function provided to attribute where a void return was expected.
    // Avoid referencing unbound methods which may cause unintentional scoping of `this`, used in theme files.
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/unbound-method": "off",
    // Computed name [status] resolves to any value (related to external chakra-ui package)
    "@typescript-eslint/no-unsafe-member-access": "off"
  }
}
