{
  "root": true,
  "extends":["../.eslintrc"],
  "overrides": [
    {
      "files": ["hardhat.config.ts", "test/**"],
      "rules": {
        "semi": "error",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
