{
  "root": true,
  "extends": ["@thesis-co"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "hardhat.config.ts",
          "deploy/**",
          "helpers/**",
          "test/**"
        ]
      }
    ],
    "@typescript-eslint/no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["deploy/*.ts"],
      "rules": {
        "@typescript-eslint/unbound-method": "off"
      }
    },
    {
      "files": ["*.test.ts"],
      "rules": {
        "@typescript-eslint/no-unused-expressions": "off"
      }
    }
  ]
}
