{
  "root": true,
  "extends": ["@thesis-co"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "hardhat.config.ts",
          "deploy/**",
          "helpers/**",
          "test/**"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["deploy/*.ts"],
      "rules": {
        "@typescript-eslint/unbound-method": "off"
      }
    }
  ]
}
