{
  "root": true,
  "extends": ["@thesis-co"],
  "rules": {
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "BigInt": false
        },
        "extendDefaults": true
      }
    ]
  }
}
